body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #6A1039;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 22%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.header {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: center;
}

.menu ul {
    list-style-type: none;
    padding: 0px;
}

.menu li {
    margin: 15px 0;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    justify-content: center;
}

.menu a:hover {
    background-color: #ddd;
}

.menu a.active {
    background-color: #6A1039;
    color: white;
}

.submenu {
    display: none;
    padding-left: 18px;
}

#content {
    margin-left: 28%;
    width: 70%;
    padding: 20px;
    text-align: left;
    overflow-y: auto;
    background: #6A1039;
    color: #000;
}

h1 {
    min-height: 3vh;
    margin: 8px auto;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    background: #6A1039;
}

h2 {
    text-align: center;
    color: #f0f0f0;
    background: black;
    padding: 5px;
}

p {
    color: white;
}

html {
    font-size: 1rem;
    background-color: #6A1039;
    width: 100%;
}

.main-links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 8px;
    font-family: 'Avenir', sans-serif;
    letter-spacing: 0.02rem;
}

li a {
    margin-left: 5em;
    text-align: center;
    top: 50%;
}

.status {
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: white;
}

.active {
    background-color: #6fa86f;
}

.inactive {
    background-color: #cc7a7a;
}

.employee-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table, th, td {
    border: 1px solid #ddd;
    background: whitesmoke;
}

th, td {
    padding: 8px;
    text-align: left;
}

thead, tr {
    max-width: 25rem;
}

tbody tr {
    padding-bottom: 60px;
}

form {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

form input, form select, form button {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #6A1039;
    color: white;
    border: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    display: flex;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.role-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to next line if needed */
    gap: 10px; /* Adjust the gap between items */
    padding: 0; /* Remove default padding */
    list-style: none; /* Remove default list styles */
    font-size: 0.7rem;
}
.role-list li {
    background-color: #6A1039; /* Example background color */
    padding: 10px; /* Example padding */
    color: #ddd;
}
#class {
    background-color: #6A1039; /* Example background color */
    color: white;
    font-size:15px;
    list-style: none;
}
#class ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
#class ul li {
    padding: 10px;
}
#class ul li:hover {
    background-color: #d0d0d0;
}
#employees-menu,
#employee-submenu .submenu-item[data-content="all-employees"] {
    color:#6A1039 ;
}
#Rolls-submenu .submenu-item[data-content="all-Roles"] {
    color:#6A1039 ; 
}
