*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    max-width: 120rem;
    font-size: 1rem;
}
body{
    font-size: 1rem;
}
nav{
    min-height: 5vh;
    background-color: black;
    color: white;
    padding:0.5rem 2rem;
}
nav ul li{
    display: inline-block;
    margin-right: 13rem; /* Adjust spacing between menu items */
}
nav ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    }
    h1{
        font-size: 3rem;
        text-align: center;
        color:brown;
        margin: 2rem;
    }
    p{
        font-size: 1.5rem; /* Specify the font size */
        margin: 0; /* Center paragraph */
        max-width: 90%; /* Limit paragraph width */
    }
    h3{
        font: size 3rem; /* Correct the font-size syntax */
    }
    li{
        font-size: 1.5rem; /* Specify the font size */

        color:black;
    }
    ul {
        font-size: 1.2rem; /* Specify the font size using relative units */
    }
